{% extends 'base.html' %}
{% load static %}

{% block title %} Atribuir Notas {% endblock %}

{% block monitor %} active {% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Atribuir notas</h1>
  <p class="mb-4">
    Atribua notas aos alunos nos campos seguintes
  </p>

  {% if user.groups.all.0.name == 'aluno' %}
    <p class="mb-4">
      Você não tem permissão para atribuir notas
    </p>
  {% else %}

  <form method="POST" action="" >
  	{% csrf_token %}

  	<div class="form-group">
      <label for="usuario">Aluno</label>
    	{{ form.id_user }}

	</div>
	<div class="form-group">
      <label for="simulado">Simulado</label>
      {{ form.id_simulado }}
      <small id="simuladoHelp" class="form-text text-muted text-justify">
        Apenas simulados já encerrados podem ter notas atribuídas a si.
      </small>
    </div>
  <div class="form-group">
      <label for="nota">Nota</label>
      {{ form.nota }}

  </div>

  	<button type="submit" class="btn btn-primary">Atribuir Nota</button>

  </form>
  {% endif %}

</div>
<!-- /.container-fluid -->

{% endblock %}