{% extends 'base.html' %}
{% load static %}

{% block title %} Index {% endblock %}

{% block index %} active {% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Home</h1>
  <p class="mb-4">
    Seja bem-vindo! Aproveite a experiência e tenha bons estudos. 
  </p>

  <!-- Content Row -->
  <div class="row">

    <img class="img-fluid" src="{% static 'website/img/students.png' %}">

  </div>


</div>
<!-- /.container-fluid -->
{% endblock %}