{% extends 'base.html' %}
{% load static %}

{% block title %} Quem somos {% endblock %}

{% block quemsomos %} active {% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Quem Somos</h1>
  <p class="text-justify mb-4">
  	Somos um grupo de alunos de engenharia da Escola Politécnica da USP e I.M.E. (Instituto Militar de Engenharia), criado para ajudar vestibulandos a resolver questões de exatas, por meio de plantões de dúvidas. Atuamos focando em alunos do 3 º ano do E.M. e alunos em anos de vestibular, principalmente provenientes de escolas públicas.
  </p>
  <h1 class="h5 mb-4 text-gray-800">NOSSA PROPOSTA</h1>
  <p class="text-justify mb-4">
  	Ajudar a sanar a dificuldade no acesso dos alunos aos professores. Em meio a pandemia muitos alunos estão tendo problemas para assistir aulas, encontrar conteúdo de estudo e conversar com professores, então nos disponibilizaremos para resolver questões e tirar dúvidas sobre vestibular e faculdade.
  </p>
  <h1 class="h5 mb-4 text-gray-800">OBJETIVO</h1>
  <p class="text-justify mb-4">
  	Criar a cultura de ajuda entre alunos que já passaram pela experiência do vestibular e alunos que estão nessa etapa.
  </p>
  <!-- Conteúdo -->

</div>
<!-- /.container-fluid -->

{% endblock %}